<h2 mat-dialog-title>{{data.type}} Todo Item #{{data.id}}</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="data.description">
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Assigned To</mat-label>
    <mat-select [(ngModel)]="data.assignedTo">
      <mat-option *ngFor="let person of data.people" [value]="person.name">
        {{ person.name }}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Due To" (dateInput)="setDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>

  <div [hidden]='data.type=="Add"'>
    <mat-slide-toggle color="primary" [(ngModel)]="data.done">
      <p *ngIf="data.done">Done</p>
      <p *ngIf="!data.done">Not Done</p>
    </mat-slide-toggle>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="this.dialogRef.close();">Cancel</button>
  <button mat-button mat-dialog-close (click)="this.dialogRef.close(data);">Save</button>
</mat-dialog-actions>